- @title = " | Contact"
- @subtitle = ""
- @body_class = "five"

%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-4.jpg"}



.body
  .center
    .content
      #five.sidebar.left
        .text
          %h1 Contact Us
          %p 
            %sub PHONE
            %br
            832-252-9071
          %p  
            %sub EMAIL
            %br
            info@aviainsurance.com
          %p
            %sub ADDRESS
            %sub=" | "
            %sub
              %a{:href => "http://maps.google.com/maps?q=2450+Louisiana+%23400-420++Houston,+TX+77006&hl=en&sll=29.045222,-95.451229&sspn=0.009839,0.008862&vpsrc=0&t=m&z=17", :target => "_blank"} MAP
            %br
            2450 Louisiana #400-420
            %br
            Houston, TX 77006
      

      #five.main
        .content
          %a{:name => "anchor1"}
          .section.no-image
            %h1 Insurance Questionnaire
            %p.contact-form
              %iframe.contact{:allowtransparency => "true", :frameborder => "0", :height => "1105", :scrolling => "no", :src => "http://media3creative.wufoo.com/embed/w7w8r3/", :width => "100%", :border => "none"}       
