.section
  %img{:src => "/images/three-2.png"}
  %h1 Jane Doe
  %p
    %b Exercitationem
    %br
    Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
  %p
    %b Commodi
    %br
    Nisi ut aliquid ex ea commodi consequatur quis autem vel eum.
  %p
    %b Voluptate
    %br
    Iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.
  %p
    %i &mdash; Owner XYZ Client, ABC Bar and Grill, 1232 Nightclub