- @title = " | Testimonials"
- @subtitle = ""
- @body_class = "three"
- @section = params[:testimonial] || "bobSacamano"

- @sub1 = ["John Doe", "/testimonials?testimonial=johnDoe"]
- @sub2 = ["Jane Doe", "/testimonials?testimonial=janeDoe"]
- @sub3 = ["Bob Sacamano", "/testimonials?testimonial=bobSacamano"]
- @sub4 = ["Amy Smith", "/testimonials?testimonial=amySmith"]
- @sub5 = ["Mary White", "/testimonials?testimonial=maryWhite"]


%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


#two.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-2.jpg"}

.body
  .center
    .content
      .sidebar.left
        .subnav
          %h1 Other Client Testimonials
          .link
            %h5 
            %p
              %a{:href => @sub1[1]}
                =@sub1[0]
          .link
            %h5 
            %p
              %a{:href => @sub2[1]}
                =@sub2[0]
          .link
            %h5 
            %p
              %a{:href => @sub3[1]}
                =@sub3[0]
          .link
            %h5 
            %p
              %a{:href => @sub4[1]}
                =@sub4[0]
          .link
            %h5 
            %p
              %a{:href => @sub5[1]}
                =@sub5[0]

          
      

      #two.main
        .content
          = render "/testimonials/" + @section + "/index.haml"