.section
  %img{:src => "/images/three-3.png"}
  %h1 Bob Sacamano
  %p
    %b Claim Management
    %br
    Avia not only filed out claim in an expedient manner, but they made sure we received our first installment in under two weeks, which was instrumental in us rebuilding our number one store.
  %p
    %b Pricing
    %br
    Every year Avia not only offers us the most competitive prices, but we often see a decrease from what we paid the year before.
  %p
    %b Availability
    %br
    There is never a time we have not been able to get ahold of someone at the agency. Whether it is Friday at 4:00 or Sunday at 3:00, our helpful agent is always there to take our call.
  %p
    %i &mdash; Owner XYZ Client, ABC Bar and Grill, 1232 Nightclub