- @title = " | Home"
- @subtitle = ""
- @body_class = "one"

%link{:href => "stylesheets/body-1.css", :media => "all", :rel => "stylesheet", :type => "text/css"}

#one.image-slider
  .center
    #slider-wrapper
      #slider.nivoSlider
        %img{:alt => "", :src => "/images/nivo/banner-1-1.jpg", :title => "#caption1"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-2.jpg", :title => "#caption2"}/
        %img{:alt => "", :src => "/images/nivo/banner-1-4.jpg", :title => "#caption3"}/
      #caption1.nivo-html-caption
        %h1 SPECIALIZATION
        %h3 Avia Insurance is considered to have a specialty program dedicated specifically to the restaurant and bar industry
      #caption2.nivo-html-caption
        %h1 BEST RATE
        %h3 We look to protect your business, while also saving you money with the best A+ rated carriers in the business
      #caption3.nivo-html-caption
        %h1 EXPERIENCE
        %h3 The Avia team is made up of individuals that have been insurance agents for over 10 years

.body
  .center
    .content
      #one.left
        %a.container{:href => "/about"}
          %h1{:style => "color: white;"}
            EXPERIENCE
            %br
            INTEGRITY
            %br
            RELIABILITY
          %h3{:style => "color: #F2F236;"}
            We're here to be your partner in business
          %p.link Find out more  >
      #one.middle
        %a.container{:href => "/services"}
          %h1{:style => "color: white;"}
            RESTAURANTS
            %br
            NIGHTCLUBS
            %br
            &amp; BARS
          %h3{:style => "color: #27AAE1;"}
            Our specialty program is dedicated to  your specific industry
          %p.link Details  >
      #one.right
        %a.container{:href => "/contact"}
          %h1{:style => "color: white;"}
            BEST
            %br
            RATE
            %br
            PERIOD
          %h3{:style => "color: #283a7d;"}
            See for yourself how much money we can save you by completing our quick questionnaire
          %p.link Get started  >