.section
  %img{:src => "/images/three-1.png"}
  %h1 John Doe
  %p
    %b Daspernatur
    %br
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
  %p
    %b Pquisquam
    %br
    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
  %p
    %b Consectetur
    %br
    Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
  %p
    %i &mdash; Owner XYZ Client, ABC Bar and Grill, 1232 Nightclub