- @sub0 = ["Doctors", "doctors"]
- @sub1 = ["Dr. Frank Ponce III", "#ponce"]
- @sub2 = ["Dr. No", "no"]
- @sub3 = ["Our Staff", "#staff"]

- @title = " | About us"
- @subtitle = ""
- @body_class = "two"



%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


/ #two.banner
/   .center
/     .content
/       %img.banner{:alt => "", :src => "/images/banner-2.jpg"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-1.jpg"}
.body
  .center
    .content
      #two.sidebar.right
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub3[1]}
        /         =@sub3[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]

        .text
          %h1 Available Coverage
          %ul.normal-list
            %li Liquor Liability
            %li General Liability
            %li Property
            %li Crime
            %li Assault & Battery
            %li Umbrella
            %li EPLI
          %br
          %br

          
      

      #two.main
        .content
          / %a{:name => @sub3[1]}
          / .section.no-image
          /   %h1=@sub3[0]
          /   %p Lorem ipsum dolor sit amet
          / .spacer
          

          %a{:name => @sub1[1]}
          .section.no-image
            %h1 About Us
            %p
              Prepare for the unexpected. Avia Insurance specializes in vendor insurance so that you will be ready for the unexpected when it does occur&mdash;because accidents and mishaps do happen. Avia's insurance program has been specifically designed for restaurants, bars, nightclubs and/or liquor vendors, and we have a convenient online questionnaire that enables us to respond with a quote on the approximate cost of your coverage. We cover numerous establishments within the Houston area, including small bars and lounges to large restaurants or clubs (Please view our 
              %a{:href => "/testimonials"}Testimonials
              to see some of our clients). 
            %p
              Avia Insurance gives you the freedom and ability to custom design your insurance policy to meet the insurance needs of your establishment. Save significant time and money instantly by filling out our
              %a{:href => "/contact"}online questionnaire.
            %p
              Avia Insurance specializes in protecting restaurants and bars from risk, and has built an excellent reputation doing just this for the past ?? years. Avia Insurance has built its name by constantly and consistently delivering its clients not only the best coverage for the best price, but also for its outstanding client service.
            %p
              When it comes to hospitality and outstanding customer service, Avia Insurance outperforms other insurers by going the extra mile, treating clients needs and need-to-knows as priority number one.
            %p
              %b Which Coverages Are Available?
              %br
              &mdash; General Liability (Bodily Injury/Property Damage)
              %br
              &mdash; Care, Custody or Control Liability (Third Party Property Damage)($2,500 Deductible)
              %br
              &mdash; Collapse of Temporary Structure Liability
              %br
              &mdash; Contractual Liability
              %br
              &mdash; Damage to Premises (Fire Legal Liability)
              %br
              &mdash; Hired and Non-Owned Auto Liability
              %br
              &mdash; Liquor Liability
              %br
              &mdash; Medical Payments
              %br
              &mdash; Terrorism
              %br
              &mdash; Third Party Property Damage (Care, Custody or Control Liability)($2,500 Deductible)
              %br
              &mdash; Waiver of Subrogation

              
