- @sub0 = ["Doctors", "doctors"]
- @sub1 = ["Dr. Frank Ponce III", "#ponce"]
- @sub2 = ["Dr. No", "no"]
- @sub3 = ["Our Staff", "#staff"]

- @title = " | About us"
- @subtitle = ""
- @body_class = "two"



%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}


/ #two.banner
/   .center
/     .content
/       %img.banner{:alt => "", :src => "/images/banner-2.jpg"}


#four.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-1.jpg"}
.body
  .center
    .content
      #two.sidebar.right
        / .subnav
        /   %h1=@sub0[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub3[1]}
        /         =@sub3[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub1[1]}
        /         =@sub1[0]
        /   .link
        /     %h5 
        /     %p
        /       %a{:href => "#"+@sub2[1]}
        /         =@sub2[0]

        .text
          %h1 Available Coverage
          %ul.normal-list
            %li Liquor Liability
            %li General Liability
            %li Property
            %li Crime
            %li Assault & Battery
            %li Umbrella
            %li EPLI
          %br
          %br

          
      

      #two.main
        .content
          / %a{:name => @sub3[1]}
          / .section.no-image
          /   %h1=@sub3[0]
          /   %p Lorem ipsum dolor sit amet
          / .spacer
          

          %a{:name => @sub1[1]}
          .section.no-image
            %h1 About Us
            %p
              Prepare for the unexpected. Avia Insurance is there not just as your agent but as your PARTNER so that you will be ready for the unexpected when it does occur &ndash; because accidents and mishaps do happen. Avia has worked hand in hand with leading carriers to provide insurance programs designed specifically for restaurants, bars, and nightclubs.  By taking advantage of leading technology we are able to provide top shelf service to clients throughout Texas.   Our clients range in size from the small hole in the wall bar to multiple location restaurants and bars.  See for yourself what some of our clients have to say about us in our Testimonials  
              %a{:href => "/testimonials"}Testimonials
              page. 
            %p
              %b Experience
              %br
              When you are looking for an insurance agency you need someone who understands your business.  What are the true risks to your business?  Where are some areas that you might be overinsured or even worse underinsured?  The truth is you never know how good or even worse bad your coverage is until you need it.  With that in mind don't you think it is important to work with an agency the specializes in your business?  The Avia team is made up of individuals that have not only been insurance agents for over 10 years but also have worked in the hospitality business.  From insurance to mixing a drink we understand your business and the needs you have.
            %p
              %b Customer Services
              %br
              Avia Insurance has built its name by constantly and consistently delivering its clients not only the best coverage for the best price, but also for its outstanding client service.  We understand that you have many options and that an agent should do more than just provide you with coverage.  We will always be there to answer your questions and believe in educating our clients on what they are buying and why they need it.  We will walk with you through the claims process and make sure that you are being taken care of the way we would want to be treated if it was us that had the claim.  No matter what the situation is if you need our assistance we are there for you 7 days a week.
            %p
              %b Pricing
              %br
              Because we realize no two businesses are similar Avia Insurance also gives you the freedom and ability to custom design your insurance policy to meet the insurance needs.  We are consistently searching for new markets to provide you with the best price year in year out.  We treat every renewal as if it is new business.  It is common that our clients continue to see a reduction in price year after year while at times seeing an increase in coverage.  We never accept a renewal quote from the current carrier as the best price instead we shop our renewing clients to dozens of carriers every year.  See for yourself how much money we can save you by completing our quick questionnaire. 
