- @title = " | Services"
- @subtitle = ""
- @body_class = "four"

- @sub0 = ["Services", "/services"]
- @sub1 = ["Types of Insurance Coverage", "#coverages"]
- @sub2 = ["Integrity. Professionalism. Reliability", "#background"]


%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #four.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Avia Insurance is considered to have a specialty program dedicated specifically to the restaurant and bar industry.
            %p We have built a reputation in the industry based on the trust that we will always look to serve the best interest of our clients in both insurance price and insurance coverage. We have never let any of our clients down.
            %p
              %b Why Choose Avia?
              %br
              Avia is dedicated to its clients, and we do so by always going the extra mile at all times. We do our research to stay on top of industry trends and important changes in both the insurance and restaurant industry.
            %p Avia will personally review your policies to make certain that you have the best policy for your establishment&mdash;ensuring that there is no room for losses or substantial risk, or that you are not paying too much. We look to protect your business, while also saving you money with the best A+ rated carriers in the business.

            %p
              %b What makes Avia Insurance different?
              %br
              Avia Insurance specializes in the business and has access to many carriers that standard brokers do not have appointments with.
            %p Avia Insurance maintains friendships and long-term relationships with each of its clients because of their personal and caring ethics and standards. Avia Insurance has an outstanding reputation for being personable and easy to work with.
            
          .spacer

            

          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Click each section to expand information.

            %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
              %h2 Liquor Liability >
            #hide1{:style => "display:none"}
              %p.sm
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.sm
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show/Hide


            %a{:name => "hide2", :onclick => "return toggleMe('hide2')"}
              %h2 General Liability >
            #hide2{:style => "display:none"}
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide2')", :href => "#hide2"}^ Show/Hide

            %a{:name => "hide3", :onclick => "return toggleMe('hide3')"}
              %h2 Property >
            #hide3{:style => "display:none"}
              %p.sm Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide3')", :href => "#hide3"}^ Show/Hide
                
            %a{:name => "hide3", :onclick => "return toggleMe('hide4')"}
              %h2 Crime >
            #hide4{:style => "display:none"}
              %p.sm Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide4')", :href => "#hide4"}^ Show/Hide
                
            %a{:name => "hide5", :onclick => "return toggleMe('hide5')"}
              %h2 Assault & Battery >
            #hide3{:style => "display:none"}
              %p.sm Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide5')", :href => "#hide5"}^ Show/Hide




              
              
      #four.sidebar.right
        .button
          %h1 APPLY FORM
          .pdf
            %a{:href => "#{}"}
              %img{:src => "/images/PDF.png"}
              %p Client Apply Form (View/Download)
