- @title = " | Services"
- @subtitle = ""
- @body_class = "four"

- @sub0 = ["Services", "/services"]
- @sub1 = ["Services We Provide", "#services"]
- @sub2 = ["Integrity. Professionalism. Reliability", "#care"]
- @sub3 = ["Insurance", "#insurance"]
- @sub4 = ["Out of Pocket", "#outofpocket"]


%link{:href => "stylesheets/body-2.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
%script{:src => "javascripts/expandCollapse.js", :type => "text/javascript"}


#three.banner
  .center
    .content
      %img.banner{:alt => "", :src => "/images/banner-3.jpg"}



.body
  .center
    .content
      #four.main
        .content
          %a{:name => @sub2[1]}
          .section.no-image
            %h1=@sub2[0]
            %p Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum

            %p Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. 
          .spacer

            

          %a{:name => @sub1[1]}
          .section.no-image
            %h1=@sub1[0]
            %p Click each section to expand information.

            %a{:name => "hide1", :onclick => "return toggleMe('hide1')"}
              %h2 Liquor Liability >
            #hide1{:style => "display:none"}
              %p.sm
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.sm
                Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide1')", :href => "#hide1"}^ Show/Hide


            %a{:name => "hide2", :onclick => "return toggleMe('hide2')"}
              %h2 General Liability >
            #hide2{:style => "display:none"}
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide2')", :href => "#hide2"}^ Show/Hide

            %a{:name => "hide3", :onclick => "return toggleMe('hide3')"}
              %h2 Property >
            #hide3{:style => "display:none"}
              %p.sm Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide3')", :href => "#hide3"}^ Show/Hide
                
            %a{:name => "hide3", :onclick => "return toggleMe('hide4')"}
              %h2 Crime >
            #hide4{:style => "display:none"}
              %p.sm Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide4')", :href => "#hide4"}^ Show/Hide
                
            %a{:name => "hide5", :onclick => "return toggleMe('hide5')"}
              %h2 Assault & Battery >
            #hide3{:style => "display:none"}
              %p.sm Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
              %p.sm Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim
              %p.hide
                %a{:onclick => "return toggleMe('hide5')", :href => "#hide5"}^ Show/Hide
          .spacer


          %a{:name => @sub3[1]}
          .section.no-image
            %h1=@sub3[0]
            %p Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.

            %p Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
          .spacer


              
              
      #four.sidebar.right
        .button
          %h1 APPLY FORM
          .pdf
            %a{:href => "#{}"}
              %img{:src => "/images/PDF.png"}
              %p Client Apply Form (View/Download)
